@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

//font family
$montserratFont: "Montserrat", sans-serif;

//colors
$primaryOne: #a3a8f0;
$primaryTwo: #696fdd;
$veryLight: #f6f6fe;
$light: #b3b5c6;
$base: #6d708d;
$dark: #494c5f;

//media
$mobile: 376px;
$desktop: 1440px;

//font size
$fontSize: 15px;
